<!-- 
    File: vehicle_info.html 
    Path: formInput/vehicle/vehicle_info.html
    Type: Template / Partial
    Dependencies: vehicle_info.js
-->

<div ng-hide="false">
  <h1>Vehicle Info</h1>
  <br/>

  <div ng-controller="vehicleCtrl">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Vehicle Year
        <!-- Drop-down button label -->
      </button>
      <div class="dropdown-menu">
        <div ng-repeat="vYear in vYears">
          <!-- traverse array to li's -->
          <li class="dropdown-item"><a href="#">{{vYear}}</a></li>
        </div>
      </div>
    </div>
    <br/>
    <br/>

    <!-- Name Input -->
    <label for="name"></label>
    <input type="text" name="name" value="" class="form-control" 
      placeholder="Enter vehicle model (e.g Ford)" ng-model="name" />
    <br />

    <!-- Phone input -->
    <label for="phone"></label>
    <input type="text" name="phone" value="" class="form-control" 
      placeholder="Enter vehicle model (e.g Mustang)" ng-model="phone" />
    <br />

    <!-- Email input -->
    <label for="email"></label>
    <input type="text" name="email" value="" class="form-control" 
      placeholder="Enter vehicle trim (e.g GT)" ng-model="email" />
    <br />
    <br />

    <button class="btn btn-primary">Save &amp; Continue</button>
    <button class="btn btn-success btn2">Save</button>
    <button class="btn btn-warning btn2">Cancel</button>

  </div>
</div>
