<h1>User Info</h1>

<form class="" action="index.html" method="post">
  <label for="name"></label>
  <input type="text" name="name" value="" class="form-control" placeholder="Enter your name" ng-model="name">
  <br>

  <label for="phone"></label>
  <input type="text" name="phone" value="" class="form-control" placeholder="Enter your phone number" ng-model="phone">
  <br>

  <label for="email"></label>
  <input type="text" name="email" value="" class="form-control" placeholder="Enter your email" ng-model="email">
  <br>
  <br>

  <button class="btn btn-primary">Save & Continue</button>
  <button class="btn btn-success">Save</button>
  <button class="btn btn-warning">Cancel</button>
  <br/><br/>
</form>